.cover {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.7)), 
                      url('./image.jpg');  /* Use correct path */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; /* Fullscreen height */
    width: 100%; 
    position: relative;
}
